<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- id, password 2번입력 -->
    <h1>회원 가입 페이지입니다.</h1>
    <form method="POST" action="{% url 'signup'%}">
        {% csrf_token %}
        ID :
        <input type="text" name="ID"><br>
        PW :
        <input type="password" name="PW1"><br>
        PW 확인 :
        <input type="password" name="PW2"><br>
        <input type="submit" value="회원가입하기">
    </form>
    <p>{{error}}</p>
    <a href="{% url 'home' %}">home으로 돌아가기</a>
</body>
</html>